* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 55%;
}

header img {
    width: 40rem;
    padding: 4rem;
    
}

.col p .btn-primary {
    width: 15rem;
    height: 4rem;

    margin-top: 3rem;
    background: #025371;

    color: #fff;
    font-size: 1.6rem;

    transition: .3s ease;


}

.col p .btn-primary:hover {

    background: #02374b;
}

.dropdown,
.nav-link {
    padding: 0 2rem 0 ;
}

.header-logo {
    background-color: #d2e9f7;
    display: flex;
    justify-content: center;
}

nav {
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 3rem;
    color: white;
}
.body {
    min-height: 100vh;
}

.nav-item {
    padding-right: 2rem;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 1.8rem;
}



.dropdown-item {
    font-size: 1.6rem;
    color: white;
}


p {
    font-family: 'Roboto', sans-serif;
}

.row p {
    font-size: 2rem;
    padding: 2rem 2rem;

    justify-content: center;
    align-items: center;
    
}

.container.text-center {
    margin-top: 2rem;
}

.row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row img {
    width: 100%;
    height: auto;
    box-shadow: 2rem;
}

h2.secondTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0 2rem 0;
    margin-bottom: 2rem;
    
    font-size: 4.5rem;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    text-shadow: 1px 1px 2px rgb(1, 1, 1);

}

.col {
    display: flex;
    align-items: center;
}

img {
    box-shadow: 2rem;
    
}

.slide-container {
    max-width: 130rem;
    width: 100%;
}

.slide-content {
    margin: 0 4rem;
    overflow: hidden;
    border-radius: 2.5rem;
}


.card,
.swiper-slide {
    border-radius: 2.5rem;
    outline: none;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.4rem;
    background-color: #f1f1f1;
}

.image-content {
    row-gap: .5rem;
    position: relative;
    padding: 2.5rem 0;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #d2e9f7;
    left: 0;
    top: 0;
    border-radius: 2.5rem;
}

.card-image {
    position: relative;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    padding: .3rem;
}

.name {
    font-size: 1.8rem;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 1.4rem;
    color: #707070;
    text-align: center;
}


.swiper-navBtn {
    color: #c3d3ff;
    transition: color .3s ease;
}

.swiper-navBtn:hover {
    color: #97a8ca;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: .4rem solid #ffffff;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 1rem;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.buttonVerMais {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 3rem;
}

button img {
    width: 6rem;
    height: 6rem;
}

.footer {
    background: #152F4F;
    color: rgb(255, 255, 255);
}

button p {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;

}

.card-group,
.card-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15rem;
    
}

.card-group {
    background-color: #c3d3ff;
    width: 100%;
    height: 130rem;
}

.footer .links ul {
    list-style-type: none;
}

.footer .links ul li a {
    color: white;
    transition: color .2s;
}

.footer .links ul li a:hover {
    text-decoration: none;
    color: #4180CB;
}

.pr-5.text-white-50 {
    font-size: 1.5rem;
    color: #fff;

}

.col-lg-2.col-xs-12.links {
    padding-left: 3rem;
}

.col-lg-2.col-xs-12.links h4 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.col-lg-2.col-xs-12.links a {
    padding-left: 0;
    font-size: 1.6rem;
    border: none;
}

.col-lg-2.col-xs-12.links li a i {
    font-size: 1.5rem;
}


.col-lg-3.col-xs-12.location h4 {
    padding-left: 2rem;
    font-size: 2rem;
}

.col-lg-3.col-xs-12.location p {
    font-size: 1.5rem;
}

.col-lg-2.col-xs-12.shortcuts h4 {
    padding-left: 2rem;
    font-size: 2rem;
}

.col-lg-2.col-xs-12.shortcuts p {
    font-size: 1.5rem;
    padding: 1rem;
    padding-left: 2rem;
}

.col-lg-2.col-xs-12.shortcuts a {
    text-decoration: none;

}

.col-lg-3.col-xs-12.location,
.col-lg-2.col-xs-12.shortcuts,
.col-lg-4.col-xs-12.about-company,
.col-lg-2.col-xs-12.links {
    margin: 2rem .5rem 0;
}


.card-title {
    font-size: 3rem;
    font-family: 'Indie Flower', sans-serif;
    font-weight: bold;
    
}

.card-title footer {
    margin-bottom: 5rem;
}

.card-text {
    font-size: 15rem;
    font-family: 'Indie Flower', sans-serif;
}
.footer img {
    width: 2rem;
    height: 2rem;
    color: white;
}

footer h2 {
    padding-left: 2rem;
    font-size: 2rem;
}


/*contribua buttons*/

.d-grid button {
    height: 4rem;
    width: 70%;
    border-radius: 5rem;
    border: 1px transparent #425658;

    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    color: #2e5b77;
}


@media (min-width: 990px) {
    .row {
        display: flex;
        flex-direction: row;
    }

    .d-grid {
        display: flex;
        justify-content: center;
        padding: 4rem;
    }

    .d-grid button {
        width: 70rem;
        height: 4rem;
    }


}
@media (min-width: 790px) {
    .card-group {
        height: 50rem;
    }

}

