* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 55%;
    --bs-card-border-color: var(#fff);
}

header img {
    width: 40rem;
    padding: 4rem;

}

.col p .btn-primary {
    width: 15rem;
    height: 4rem;

    margin-top: 3rem;
    background: #025371;

    color: #fff;
    font-size: 1.6rem;

    transition: .3s ease;


}

.col p .btn-primary:hover {
    background: #02374b;
}

.dropdown,
.nav-link {
    padding: 0 2rem 0;
}

.header-logo {
    background-color: #d2e9f7;
    display: flex;
    justify-content: center;
}

nav {
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;

    color: white;
}

.body {
    min-height: 100vh;
    margin: auto;
    background: url('./assets/backgroundImage.jpg');
}

.nav-item {
    padding-right: 2rem;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 1.8rem;
}



.dropdown-item {
    font-size: 1.6rem;
    color: white;
}


p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.row p {
    font-size: 2rem;
    margin: 4rem;

    padding: 1rem;

    justify-content: center;
    align-items: center;

}

.blockquote.text-center {
    margin: 5rem;
}

.mb-0,
blockquote,
cite {
    font-size: 2.5rem;
}

.container.text-center {
    margin-top: 2rem;
}

.blockquote-footer {
    padding-top: 1rem;
}

.row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row img {
    width: 100%;
    height: auto;
    box-shadow: 2rem;
    margin: 3rem auto 3rem;
}

.text-bg-light.p-3 {
    min-width: 100%;
}

.text-bg-light.p-3 img {
    width: 80%;
    height: auto;
}

h2.secondTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0 2rem 0;
    margin-bottom: 2rem;
    text-align: center;

    font-size: 4.5rem;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    text-shadow: 1px 1px 2px rgb(1, 1, 1);

}

.text-bg-primary {
    min-width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    box-shadow: 2rem;

}

.slide-container {
    max-width: 140rem;
    width: 100%;
}

.slide-content {
    margin: 0 4rem;
    overflow: hidden;
    border-radius: 2.5rem;
}

.swiper {
    width: 100%;
}


.card,
.swiper-slide {
    border-radius: 2.5rem;
    outline: none;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.4rem;
    background-color: #f1f1f1;
}

.image-content {
    row-gap: .5rem;
    position: relative;
    padding: 2.5rem 0;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #d2e9f7;
    left: 0;
    top: 0;
    border-radius: 2.5rem;
}

.card-image {
    position: relative;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    padding: .3rem;
}

.name {
    font-size: 1.8rem;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 1.4rem;
    color: #707070;
    text-align: center;
}


.swiper-navBtn {
    color: #c3d3ff;
    transition: color .3s ease;
}

.swiper-navBtn:hover {
    color: #97a8ca;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: .4rem solid #ffffff;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 1rem;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.buttonVerMais {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 3rem;
}

button img {
    width: 6rem;
    height: 6rem;
}

/*footer*/

.rowFooter {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.footer {
    background: #152F4F;
    color: rgb(255, 255, 255);
}

button p {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

footer img {
    margin-top: 2rem;
    width: 60%;
}

.footer .links ul {
    list-style-type: none;
}

.footer .links ul li a {
    color: white;
    transition: color .2s;
}

.footer .links ul li a:hover {
    text-decoration: none;
    color: #4180CB;
}

.pr-5.text-white-50 {
    font-size: 1.5rem;
    color: #fff;

}

.col-lg-2.col-xs-12.links h4 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.col-lg-2.col-xs-12.shortcuts h4,
.col-lg-3.col-xs-12.location h4 {
    margin-bottom: 2rem;
}

.col-lg-2.col-xs-12.links a {
    font-size: 1.6rem;
    border: none;
    margin: 0;
    padding: 0;
}

.col-lg-2.col-xs-12.links li a i {
    font-size: 1.5rem;
}


.col-lg-3.col-xs-12.location h4,
.col-lg-2.col-xs-12.shortcuts h4 {
    font-size: 2rem;
}


.col-lg-3.col-xs-12.location p,
.col-lg-2.col-xs-12.shortcuts p {
    font-size: 1.5rem;
}


.col-lg-2.col-xs-12.shortcuts a {
    text-decoration: none;
}

.col-lg-3.col-xs-12.location,
.col-lg-2.col-xs-12.shortcuts,
.col-lg-4.col-xs-12.about-company,
.col-lg-2.col-xs-12.links {
    margin: 2rem .5rem 0;
    padding-left: 0rem;
}

.col-lg-4.col-xs-12.about-company {
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
}

.col-lg-4.col-xs-12.about-company:not(h2) {
    align-items: center;
}


.card-group {
    max-width: 60%;
    margin: auto;
}

.card-body {
    background-color: #d2e9f7;
    border-radius: 10rem;
    text-align: center;
    font-size: 5rem;
    font-family: 'Indie Flower', sans-serif;
    font-weight: bold;
}

.card-title {
    font-size: 2rem;
    font-family: 'Indie Flower', sans-serif;
    font-weight: bold;
    
}

.card.rounded-pill {
    border: (var(--bs-card-border-color));
}

.card.text-center {
    margin: 3rem auto;
    border-radius: 3rem;
    width: 90%;
    border: var(--bs-card-border-color);
}

.helpClass {
    font-size: 2rem;
    padding: 2rem;
}

.btn.btn-primary.active {
    width: 20rem;
    height: 6rem;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    background-color: #1d5e76;

    border-radius: 3rem;
    border: none;
}

.btn.btn-primary.active:hover {
    background-color: #123b4a;

}




/*contribua buttons*/

.d-grid button {
    height: 4rem;
    width: 70%;
    border-radius: 5rem;
    border: 1px transparent #425658;

    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    color: #2e5b77;
}

/*pagina de doação*/

.div-wrapper {
    display: flex;
    flex-direction: column;
}

.donationCard {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 3rem auto 3rem;
    width: 90%;
    background-color: #f1f1f1;
    border-radius: 3rem;
    padding: 2rem;

}

/* adoção pag*/

.fa-solid,
.fa-brands {
    font-size: 5rem;
}

.requirements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donationCard img {
    max-width: 50%;
}

.donationCard h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin: 2rem;
}

.btn.btn-primary.active {
    margin-bottom: 3rem;
}

.adoption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

/* contribua */

.apoiadores {
    max-width: 75%;
    padding: 0;
    margin: 0;
}

.box p {
    font-size: 2.5rem;
    font-weight: bold;
}

.col h2 {
    font-size: 2.5rem;
    font-weight: bold;
}


.box {
    padding: 2rem;
    border: none;
    text-align: left;
    font-size: 1.6rem;
    background-color: #e4e4e4;
    border-radius: 2rem;
    max-width: 90%;
    margin: 3rem auto;
}


.btn.dropdown-toggle {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    border: none;
    font-size: 2rem;
}


@media (min-width: 990px) {
    .row {
        display: flex;
        flex-direction: row;
    }

    .rowFooter {
        display: flex;
        flex-direction: row;
    }

    .d-grid {
        display: flex;
        justify-content: center;
        padding: 4rem;
    }

    .d-grid button {
        width: 70rem;
        height: 4rem;
    }

    .card-group {
        display: flex;
        flex-direction: column;
    }

    .requirements {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
    }

    .adoption {
        max-width: 90%;
    }

}

@media (min-width: 1200px) {
        
    .div-wrapper {
        display: flex;
        flex-direction: row;
        margin: auto;
        gap: 2rem;
    }

}


@media (min-width: 576px) {
    .card-group {
        border-radius: 10rem;
        background-color: #d2e9f7;; 
    }

    .card-body {
        border: none;
        background-color: #d2e9f7;
    }

}