* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.header-logo {
    background-color: #d2e9f7;
    display: flex;
    justify-content: center;
}

.container.text-center{
    margin-top: 2rem;
}

.row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row img {
    width: 100%;
    height: auto;
}

.col {
    display: flex;
    align-items: center;
}



@media (min-width: 990px) {
    .row {
        display: flex;
        flex-direction: row;
    }
}

